.App {
  text-align: center;
}

.card-header-color {
  background-color: #cce5ff !important;
}

.money {
  text-align: right;  
}

.profit {
  color: darkgreen;
}

.loss {
  color: red;
}

.summary {
  text-align: left;
}

.btn {
  margin: 15px 10px;
}

label {
  text-align: left;
  font-weight: bold;
  margin-top: 10px !important;
}

.add-stock-error {
  color: red;
}